* [ ] [Alternative user interfaces](https://en.wikipedia.org/wiki/Command-line_interface#Alternative_user_interfaces)
* [ ] [Comparison to graphical user interfaces](https://en.wikipedia.org/wiki/Command-line_interface#Comparison_to_graphical_user_interfaces)
* [ ] [Types](https://en.wikipedia.org/wiki/Command-line_interface#Types)
    + [ ] [Operating system command-line interfaces](https://en.wikipedia.org/wiki/Command-line_interface#Operating_system_command-line_interfaces)
    + [ ] [Application command-line interfaces](https://en.wikipedia.org/wiki/Command-line_interface#Application_command-line_interfaces)
* [ ] [History](https://en.wikipedia.org/wiki/Command-line_interface#History)
* [ ] [Usage](https://en.wikipedia.org/wiki/Command-line_interface#Usage)
* [ ] [Anatomy of a shell CLI](https://en.wikipedia.org/wiki/Command-line_interface#Anatomy_of_a_shell_CLI)
    + [ ] [CLI and resource protection](https://en.wikipedia.org/wiki/Command-line_interface#CLI_and_resource_protection)
    + [ ] [Command prompt](https://en.wikipedia.org/wiki/Command-line_interface#Command_prompt)
    + [ ] [Arguments](https://en.wikipedia.org/wiki/Command-line_interface#Arguments)
        - [ ] [Abbreviating commands](https://en.wikipedia.org/wiki/Command-line_interface#Abbreviating_commands)
        - [ ] [Option conventions in DOS, Windows, OS/2](https://en.wikipedia.org/wiki/Command-line_interface#Option_conventions_in_DOS.2C_Windows.2C_OS.2F2)
        - [ ] [Option conventions in Unix-like systems](https://en.wikipedia.org/wiki/Command-line_interface#Option_conventions_in_Unix-like_systems)
        - [ ] [Option conventions in other systems](https://en.wikipedia.org/wiki/Command-line_interface#Option_conventions_in_other_systems)
    + [ ] [Built-in usage help](https://en.wikipedia.org/wiki/Command-line_interface#Built-in_usage_help)
    + [ ] [Command description syntax](https://en.wikipedia.org/wiki/Command-line_interface#Command_description_syntax)
    + [ ] [The space character](https://en.wikipedia.org/wiki/Command-line_interface#The_space_character)
* [ ] [Command-line interpreter](https://en.wikipedia.org/wiki/Command-line_interface#Command-line_interpreter)
    + [ ] [Early history](https://en.wikipedia.org/wiki/Command-line_interface#Early_history)
    + [ ] [Modern usage as an operating system shell](https://en.wikipedia.org/wiki/Command-line_interface#Modern_usage_as_an_operating_system_shell)
* [ ] [Scripting](https://en.wikipedia.org/wiki/Command-line_interface#Scripting)
* [ ] [Other command-line interfaces](https://en.wikipedia.org/wiki/Command-line_interface#Other_command-line_interfaces)
* [ ] [See also](https://en.wikipedia.org/wiki/Command-line_interface#See_also)
* [ ] [Notes](https://en.wikipedia.org/wiki/Command-line_interface#Notes)
* [ ] [References](https://en.wikipedia.org/wiki/Command-line_interface#References)
* [ ] [External links](https://en.wikipedia.org/wiki/Command-line_interface#External_links)
